<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="wrap-botoes justify-content-around">
        <button class="btn btn-form" [routerLink]="['/formulario', 'emitente']" routerLinkActive="active">
          <span class="number">1</span>
          <span class="bottom-text">Emitente</span>
        </button>
        <button class="btn btn-form" [disabled]="!habilitarBotao2 && !reloadHabilitarBotao2" [routerLink]="['/formulario', 'proprietario']" routerLinkActive="active">
          <span class="number">2</span>
          <span class="bottom-text">Proprietário</span>
        </button>
        <button class="btn btn-form" [disabled]="!habilitarBotao3 && !reloadHabilitarBotao3" [routerLink]="['/formulario', 'avalista']" routerLinkActive="active">
          <span class="number">3</span>
          <span class="bottom-text">Avalista</span>
        </button>
        <button class="btn btn-form" [disabled]="!habilitarBotao4 && !reloadHabilitarBotao4" [routerLink]="['/formulario', 'liberacao']" routerLinkActive="active">
          <span class="number">4</span>
          <span class="bottom-text">Liberação</span>
        </button>
        <button class="btn btn-form" [disabled]="!habilitarBotao5 && !reloadHabilitarBotao5" [routerLink]="['/formulario', 'confirmacao']" routerLinkActive="active">
          <span class="number">5</span>
          <span class="bottom-text">Confirmação</span>
        </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>