.container{
  padding: 16px 24px;
}

.wrap-tabela{
  display: flex;
  justify-content: space-around;
  max-height: 80svh;
  overflow: auto;
  margin-bottom: 16px;

  .metade-tablea{
    width: 50%;
  }
}

table{
  th{
    padding: 8px;
  }
  td{
    padding: 4px 8px 4px 8px;
  }
}
