mat-drawer-container{
  background: linear-gradient(247deg, #85DB18 0%, #0dcaf0 100%);
}

mat-drawer{
  background-color: #fff;
  border-radius: 16px;
  border: solid 1px #85DB18;
  margin: 16px 0;
}
mat-drawer-container > *{
  overflow: hidden!important;
}

.sidenav-content{
  background-color: #f0f0f0;
  border-radius: 16px;
  border: solid 1px #85DB18;
  position: relative;
  display: inline-block;
  margin: 16px;
  min-height: 97svh;
  width: 98%;
}

.container-fluid{
  height: 100dvh;
}

.btn-sidenav{
  position: fixed;
  top: 0;
  left: 0;
}

.liberacao-credito{
  position: relative;
  border-top: solid lightgray 1px;

  &::before{
    content:'Liberação de crédito';
    position: absolute;
    top: -10px;
    left: 4px;
    display: block;
    height: 10px;
    padding: 0 2px;
    background-color: #fff;
  }
}