<form [formGroup]="avalistaForm" (ngSubmit)="onSubmit()">
  <div class="container mt-5">
    <div class="row">
      <h1>Descrição da garantia:</h1>
      <p><strong>Tipo de Bem:</strong> Imóvel</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <mat-form-field appearance="outline" class="form-field-full" [hideRequiredMarker]="true">
            <mat-label>Descrição do Bem:</mat-label>
            <!-- <input type="text" id="descricaoBem" required matInput class="form-control" formControlName="descricaoBem" placeholder=""/> -->
            <textarea matInput required formControlName="descricaoBem" name="descricaoBem" cols="40" rows="5"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <mat-form-field appearance="outline" class="form-field-full" [hideRequiredMarker]="true">
            <mat-label>Valor de Avaliação do Bem:</mat-label>
            <input id="valorBem" required matInput class="form-control" formControlName="valorBem" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}"/>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="detalhe-footer">
    <div class="wrap-btn  d-grid gap-2 d-md-flex flex-row-reverse justify-content-between">
      <button type="submit" [disabled]="!avalistaForm.valid" class="btn-continuar">
        <span class="text">Continuar</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
      </button>
      <button type="button" (click)="goBack()" class="btn-voltar">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
          <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
        <span class="text">Voltar</span>
      </button>
    </div>
  </div>

</form>