
<div class="wrap p-3" *ngIf="!errorMessage">
  <a *ngFor="let dado of dados" class="card" [routerLink]="['/detalheFormulario', dado._id]"
  [class.contrato-gerado]="dado.contratoGerado">
    <!-- <p>_id: {{dado._id}}</p> -->
    <!-- <p>Versão: {{dado.version}}</p> -->
    <p class="pt-3"><strong>Proprietário</strong>: {{dado.proprietario.razaoSocial}}</p>
    <p><strong>Emitente</strong>: {{dado.emitente.razaoSocial}}</p>
    <p><strong>Valor Financiado:</strong> {{dado.liberacao.valorFinanciado | currency : 'BRL' }}</p>
    <p><strong>Última alteração:</strong> {{ dado.logs[dado.logs.length - 1]?.date | date:'medium' }}</p>
    <!-- <button (click)="gerarContrato(dado._id)">Gerar Contrato</button> -->

    <div class="wrap-btn flex-row-reverse d-grid gap-2 d-md-flex justify-content-between">
      <div class="btn-detalhe">
        <span class="text">Detalhe</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
      </div>
      <span class="contrato-gerado-texto" *ngIf="dado.contratoGerado">
        Contrato gerado
      </span>
    </div>
  </a>
</div>
<div *ngIf="errorMessage">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="error-message text-center mt-5">
          <h1>Não existe formulários no BD.</h1>
          <button class="btn btn-primary" [routerLink]="['/formulario']">Preencher Formulário</button>
        </div>
      </div>
    </div>
  </div>
</div>